div {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    padding: 20px;
}